body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  background: linear-gradient(#f5f3f3, #bff8ef );  perspective: 2000px;
  height: 100vh;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  padding: 10px ;
  transform: translate(-50%, -60%);
  background: linear-gradient( #bff8ef );  perspective: 2000px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(5, 5, 5, 0.6);
  border-radius: 10px;
}
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #05312b;
  text-align: center;
}

table {
  margin: 100px auto;
  border-spacing: 0px;
  width: 680px;
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(15, 15, 15, 0.6); */
  border-radius: 10px 10px;
  background: rgb(241, 239, 239);
  transition: all 0.5s;
}
table td {
  padding: 20px 15px;
}
table thead {
  background:  #bff8ef;
  border-radius: 10px 10px 0 0;
}
table thead tr {
  border-radius: 10px 10px 0 0;
}
table thead td {
  color: rgb(236, 76, 76);
  font-size: 20px;
}
table thead td:first-of-type {
  border-radius: 10px 0 0 0;
}
table thead td:last-of-type {
  border-radius: 0 10px 0 0;
}
table tbody td {
  border-top: 1px solid #c8f7ff;
}
table tbody tr:hover {
  background: rgba(123, 153, 218, 0.1);
}

table.threeDMode {
  transform: rotateX(65deg) rotateZ(-35deg);
}

button {
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 50px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  margin: 0 auto;
  display: block;
}