html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#f9f7f7, #bff8ef );
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(31, 34, 34, 0.733);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(82, 117, 113, 0.6);
  border-radius: 10px;
}

 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #bff8ef;
  text-align: center;
}
h1 {
  
  margin: 0 0 30px;
  padding: 0;
  color: #bff8ef;
  text-align: center;
}

.login-box  a {

  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #bff8ef;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  margin-left:25%;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #00adb5;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #00adb5,
              0 0 25px #00adb5,
              0 0 50px #00adb5,
              0 0 100px #00adb5;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00adb5);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00adb5);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00adb5);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00adb5);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

nav h1 {
  font-family: verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 10px;
}

nav  a {
  text-decoration: none;
}

nav  #btn1 {
  top: 250px;
}

nav #btn2 {
  top: 350px;
}

nav #btn3 {
  top: 450px;
}

nav div.button {
  background: rgba(0, 2, 2, 0.733);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(82, 117, 113, 0.6);
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 500px;
  height: 60px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

nav div.button:hover {
  background: rgba(0, 2, 2, 0.733);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(82, 117, 113, 0.6);
  position: fixed;
  left: -50px;
  width: 400px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #c0392b;
}

nav div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}