body {
    
    background: #e4fbff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }

  p{
      margin-top: 180px;
    text-align: center;
    font-size: 35px;
    color: #018b92;
    font-family: 'Merriweather', cursive;
    font-weight: normal;
    line-height: 2;
  }


  .top-cloud{
    margin-top: 100px;
    position: absolute;
    right: 300px;
    top: 40px;
  }
  
  .bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
  }

  .mount{
      margin-left: 30%;
    position: relative;
    padding-top: 37.5px;
  }

  h1{

    padding-top: 10px;
    font-size: 40px;
    color: #393e46;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    
  }


  .loggedin-div .btn-outline-primary {
    background: #00adb5;
    color: #fff;
    border: 1px solid #00adb5;
    border-radius: 5px;
    margin-left: 45%;
    text-align: center;
    padding: 15px;
    display: block;
    width:7%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .loggedin-div .btn-outline-primary:hover {
    background: #fff;
    color: #00adb5;
    border: 1px solid #00adb5;
    cursor: pointer;
  }
  