
.votelogo{
  height: 25vh;
  width:20vh;
  margin: 10px 0 10px 200px;
}

h1{
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  margin: 67px 0;
}

.heads{
  font-size: 20px;
}

.tab{
  margin-left: auto;
  margin-right: auto;
}

tr{
  text-align: center;
  padding: 20px;
}

th{
    text-align: center;
    padding: 20px;
}

td{
  text-align: center;
  padding: 20px;
}
